.hero-process-snippet {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero-process-snippet p{
    text-align: center;
    font-size: 1rem;
    color: #333;
    width: 50vw;
  }

  img{
    width: 55vw;
    height: 55vh;
    border: 2px solid #ddd;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    object-fit: cover;
  }